@import url('https://fonts.googleapis.com/css2?family=Zen+Loop&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oooh+Baby&display=swap');

:root {
    --main-colour: rgba(252, 248, 232);
    --heading-colour: rgba(66, 95, 87);
}

/* 
****************************************************************
                Main Styling - Start - All Devices
****************************************************************
*/

body {
    font-family: 'Zen Loop', cursive;
    color: black;
    background-color: var(--main-colour);
}
