@import url('https://fonts.googleapis.com/css2?family=Zen+Loop&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oooh+Baby&display=swap');

/* Universal Styling */

:root {
    --main-colour: rgba(251, 248, 241);
    --secondary-colour: rgba(66, 95, 87);
    --tertiary-colour: rgba(206, 229, 208, 0.3);
    --nav-heading-font: 'Oooh Baby', cursive;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

html:focus-within {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.fluid-sizing {
    max-width: 100%;
    height: auto;
}

.reveal {
    position: relative;
    transform: translateY(3px);
    opacity: 0;
    transition: all 2.5s;
}

.reveal.activeScroll {
    transform: translateY(0px);
    opacity: 1;
}

.container-reveal {
    text-align: center;
    max-width: 95vw;
    background-color: var(--tertiary-colour);
    padding: 1rem 2rem;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container-reveal p {
    margin-bottom: 0;
}

.navigation-heading {
    margin-top: 15rem;
    margin-bottom: 4rem;
    padding-top: 12rem;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    font-family: var(--nav-heading-font);
}

/* .container-fluid,
.container {
    border: solid 4px green;
} */

body {
    font-family: 'Zen Loop', cursive;
    font-weight: bold;
    letter-spacing: 1.5px;
    color: black;
    background-color: var(--tertiary-colour);
}

a {
    text-decoration: none;
    color: var(--main-colour);
}

button {
    background: none;
    color: var(--main-colour);
    border: none;
    outline: none;
}

ul,
ol {
    list-style: none;
}

.display-none {
    display: none;
}

.display {
    display: block;
}

/* Navigation Bar Styling */
/* Logo */

.navigation-bar {
    overflow: hidden;
    max-height: max-content;
    width: 100vw;
    background-color: var(--secondary-colour);
    color: var(--main-colour);
    letter-spacing: 0.1rem;
    padding-bottom: 0.5rem;
}

.navigation-bar .logo {
    font-weight: 400;
    padding-left: 0.5rem;
}

.navigation-bar .logo > span:nth-of-type(odd) {
    font-size: 4.5rem;
}

.navigation-bar .logo > span:nth-of-type(even) {
    font-size: 2.5rem;
    margin-left: -0.3rem;
}

.navigation-bar .logo > div {
    max-height: fit-content;
    max-width: 225px;
    text-align: right;
    margin-top: -1.5rem;
    font-size: 2rem;
}

/* Hamburger */
.hamburger-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 1.5rem;
}

.hamburger-container .fa-bars,
.fa-x {
    font-size: 1.5rem;
}

.hamburger-container i:hover {
    padding: 1rem;
    border-radius: 50%;
    background-color: var(--tertiary-colour);
    font-size: 1.7rem;
    transition: all ease-in 0.7s;
}

/* Navigation Links */
.navigation-links {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 1.4rem;
    padding-left: 0.5rem;
}

.navigation-links .fa-chevron-down {
    font-size: 0.55rem;
}

.navigation-links ul {
    margin-bottom: auto;
}

.navigation-links li {
    font-size: 1rem;
}

.navigation-links a {
    padding: 0.5;
}

.navigation-links a:hover,
i:hover {
    background-color: var(--tertiary-colour);
    border-radius: 10px;
    padding: 0.3rem;
    transition: all ease-in 1s;
}

/* Carousel Styling */
.extra-container {
    padding-top: 15rem;
}

.container-fluid {
    height: max-content;
}

.carousel-container {
    position: relative;
    border-radius: 10px;
    width: 80vw;
    height: 50vh;
    margin-left: 1.5rem;
    overflow: hidden;
}

.carousel-container .carousel {
    height: 100%;
    width: 100%;
    position: relative;
}

.carousel-container .carousel .slider {
    display: flex;
    gap: 1px;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform ease-in-out 2s;
}

.carousel-container .carousel .slider .slide {
    flex-basis: 100%;
    position: relative;
    /* border: 5px solid red; */
    width: min-content;
}

.carousel-container .carousel .slider .slide h1,
h3 {
    position: absolute;
    border-radius: 10px;
    padding: 0.3rem 0.6rem;
    color: var(--secondary-colour);
    background-color: var(--main-colour);
    font-weight: bold;
    width: fit-content;
}

.carousel-container .carousel .slider .slide h1 {
    font-size: 1.6rem;
    top: 2rem;
    left: 0.5rem;
}

.carousel-container .carousel .slider .slide h3 {
    bottom: 1rem;
    left: 0.5rem;
    right: 1rem;
    font-size: 1.3rem;
}

.carousel-slide-img-one {
    height: 100%;
    width: 100%;
    background-image: url('assets/website-images/massage-stock-image.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 10px;
    /* margin-top: 1rem; */
}

.carousel-slide-img-one::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    background-color: var(--tertiary-colour);
}

.carousel-slide-img-two {
    height: 100%;
    width: 100%;
    background-image: url('assets/website-images/yoga-pose-marmaid-on-rock.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 10px;
    /* margin-top: 1rem; */
}

.controls .arrow {
    cursor: pointer;
    position: absolute;
    top: 50%;
}

.controls .arrow.left {
    left: 10px;
}

.controls .arrow.right {
    right: 10px;
}

.controls .arrow .h-chevron-left,
.h-chevron-right {
    font-size: 1.5rem;
    border-radius: 10px;
    color: var(--secondary-colour);
    background-color: var(--tertiary-colour);
}

/* About Me */
.container-about-me {
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.container-about-me img {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}

/* Massage Information */
.container-massage-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: max-content;
}

.container-massage-info a {
    color: var(--secondary-colour);
    font-weight: bold;
}

/* Different Types of Massage */
.container-types-of-massage {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(1, 1fr);
    gap: 2.5rem;
    margin: 5rem 0rem;
}

.massage-card-container {
    height: 17rem;
    width: 15rem;
}

.massage-card-container:hover > .massage-card {
    cursor: pointer;
    transform: rotateY(180deg);
}

.massage-card {
    height: 100%;
    width: 100%;
    padding: 2rem;
    position: relative;
    transition: transform 1500ms;
    transform-style: preserve-3d;
}

.massage-card-front,
.massage-card-back {
    background-color: var(--secondary-colour);
    color: var(--main-colour);
    height: 100%;
    width: 100%;
    position: absolute;
    backface-visibility: hidden;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.massage-card-front {
    font-size: 1.5rem;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(0deg);
}

.massage-card-back {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    padding: 2rem;
    transform: rotateY(180deg);
}

/* Massage Prices and Booking */

.massage-img-background {
    width: 100vw;
    height: 120vh;
    background-image: url('assets/website-images/stock-massage-img.png');
    position: relative;
    background-position: center;
    background-size: cover;
    background-color: var(--main-colour);
}

.massage-img-background-blend {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(251, 248, 241, 1), rgba(251, 248, 241, 0));
}

.container-massage-price-info {
    padding-top: 5rem;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(1, 1fr);
}

.container-massage-price {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(1, 1fr);
    gap: 2.5rem;
}

.container-massage-price .massage-price {
    text-align: center;
    color: var(--secondary-colour);
    background-color: var(--main-colour);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container-massage-price .massage-price h1,
h2 {
    letter-spacing: 2px;
    font-weight: bold;
}

.discount-box {
    width: 50vw;
    margin-top: 3rem;
    text-align: center;
    color: var(--secondary-colour);
    background-color: var(--main-colour);
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.discount-box p {
    margin-bottom: 0;
}

.container-reviews {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.container-reviews i {
    padding: 0.5rem 0;
    color: gold;
}

.container-booking-info {
    margin-top: 3rem;
}

.container-booking-info a {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    color: var(--main-colour);
    background-color: var(--secondary-colour);
    padding: 2rem;
    border-radius: 10px;
}

.container-booking-info a:hover {
    color: var(--secondary-colour);
    background-color: var(--main-colour);
    transition: ease-in-out 0.5s;
}

.address {
    margin-top: 3rem;
    text-align: center;
    opacity: 1;
    background-color: var(--main-colour);
}

.address a {
    color: var(--secondary-colour);
}

/* Yoga */

.container-yoga .yoga-img {
    text-align: center;
    height: 50vh;
    width: 100%;
    background-image: url('assets/website-images/yogaposeathome.png');
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container-yoga div {
    margin-top: 3rem;
}

.btm-yoga-img {
    height: max-content;
    background-image: url('assets/website-images/childs-pose-test.png');
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: var(--main-colour);
}

.btm-yoga-img-blend {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(251, 248, 241, 1), rgba(251, 248, 241, 0));
}

.container-yoga-classes {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    gap: 5rem;
}

.container-yoga-classes .container-reveal {
    background-color: var(--main-colour);
    color: var(--secondary-colour);
}

.container-yoga-classes .container-reveal:first-of-type {
    margin-top: 10rem;
}

.container-yoga-classes .container-reveal:last-of-type {
    margin-bottom: 2rem;
}

.container-yoga-classes h5 {
    margin-top: 1rem;
}

.container-yoga-classes a {
    letter-spacing: 1.75px;
    font-weight: bold;
    margin-top: 1rem;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: var(--main-colour);
    background-color: var(--secondary-colour);
    padding: 1rem;
    border-radius: 10px;
}

.container-yoga-classes a:hover {
    font-weight: bold;
    color: var(--secondary-colour);
    background-color: var(--tertiary-colour);
    transition: ease-in-out 0.5s;
}

.container-yoga-course {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 2.5rem;
    gap: 2rem;
}

.container-yoga-course p:first-of-type {
    margin-top: 2rem;
}

.container-yoga-course p {
    margin-bottom: 1rem;
}

.container-yoga-workshops {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 2.5rem;
    gap: 2rem;
}

.container-yoga-workshops p:first-of-type {
    margin-top: 2rem;
}

.container-yoga-workshops p {
    margin-bottom: 1rem;
}

/* Contact Me */
.container-contact-me {
    width: 100vw;
}

.container-contact-me form {
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}

.container-contact-me input {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 16rem;
}

.container-contact-me textarea {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container-contact-me button {
    margin-bottom: 3rem;
    letter-spacing: 1.75px;
    font-weight: bold;
    color: var(--main-colour);
    background-color: var(--secondary-colour);
    padding: 0.5rem 2rem;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container-contact-me button:hover {
    color: var(--secondary-colour);
    background-color: var(--tertiary-colour);
    transition: ease-in-out 0.5s;
}

/* Footer */

.footer {
    height: max-content;
    background-color: var(--secondary-colour);
    color: var(--main-colour);
    display: flex;
}

.footer-logo-container {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-contacts {
    font-weight: 400;
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.footer-contacts a {
    color: var(--main-colour);
}

.website-copyright {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100%;
    font-size: 0.5rem;
    font-weight: 400;
}

/* Submit Form Page */
.email-submit {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.email-submit div {
    font-size: 3rem;
}

/* 
**************************************************************
**************************************************************
**************************************************************
**************************************************************
**************************************************************
MEDIA QUERIES
**************************************************************
**************************************************************
**************************************************************
**************************************************************
**************************************************************
*/

@media (min-width: 768px) {
    /* Navigation Bar */

    .navigation-links a {
        text-align: center;
        font-size: 1.8rem;
    }

    .navigation-links .fa-chevron-down {
        font-size: 0.8rem;
    }

    .navigation-links li {
        font-size: 1.3rem;
    }

    /* Carousel */
    .carousel-container {
        width: 90vw;
        height: 75vh;
    }

    .carousel-container .carousel .slider .slide h1 {
        font-size: 4rem;
        width: fit-content;
        top: 25rem;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }

    .carousel-container .carousel .slider .slide h3 {
        width: fit-content;
        font-size: 2rem;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }

    .controls .arrow .h-chevron-left,
    .h-chevron-right {
        font-size: 2rem;
    }

    /* About Me */
    .navigation-heading {
        font-size: 4rem;
    }

    .container-about-me,
    .container-massage-info p {
        font-size: 1.7rem;
    }

    /* Massage Info */
    .container-massage-info {
        margin-top: 4rem;
        gap: 2rem;
    }

    .massage-card-front,
    .massage-card-back {
        letter-spacing: 2px;
    }

    /* Massage Price */
    .container-massage-price-info {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .container-massage-price {
        grid-template-columns: repeat(3, 1fr);
    }

    .discount-box {
        margin-top: 0;
        font-size: 2rem;
    }

    .container-booking-info a {
        font-size: 1.7rem;
    }

    .address a,
    p {
        font-size: 1.7rem;
    }

    .container-yoga .yoga-img {
        height: 100vh;
    }

    .container-yoga-classes h5 {
        font-size: 1.8rem;
    }

    .container-contact-me form {
        font-size: 1.7rem;
    }
}

@media (min-width: 1100px) {
    .carousel-container {
        width: 95vw;
    }

    .container-types-of-massage {
        grid-template-columns: repeat(3, 1fr);
        gap: 0.2rem;
    }

    .container-reviews {
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(8, 1fr);
    }

    .review:nth-child(1) {
        grid-column: 1 / 6;
        grid-row: 1 / 4;
    }

    .review:nth-child(2) {
        grid-column: 1 / 4;
        grid-row: 4 / 5;
    }

    .review:nth-child(3) {
        grid-column: 2 / 8;
        grid-row: 5 / 8;
    }

    .review:nth-child(4) {
        grid-column: 4 / 6;
        grid-row: 4 / 5;
    }

    .review:nth-child(5) {
        grid-column: 6 / 9;
        grid-row: 1 / 5;
    }

    .container-yoga {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .container-yoga-course {
        grid-template-columns: repeat(2, 1fr);
    }
}
